# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly override for binary/special files
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.gif binary
*.zip binary
*.exe binary